:root {
    --background-color: #000411;
    --blur: 10px;
}

body {
    margin: 0;
    overflow: scroll;
    background: var(--background-color);
}

#background {
    position: absolute;
}

#game {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-color);
}

#left {
    z-index: 1;
    position: absolute;
    width: 20%;
    height: 100vh;
    background: var(--background-color);
    background: linear-gradient(90deg,  var(--background-color) 0%, rgba(255,255,255,0) 30%);
}

#right {
    z-index: 1;
    position: absolute;
    float: right;
    right: 0;
    width: 20%;
    height: 100%;
    background: var(--background-color);
    background: linear-gradient(-90deg,  var(--background-color) 0%, rgba(255,255,255,0) 30%);
}

#top {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background:  var(--background-color);
    background: linear-gradient(180deg,  var(--background-color) 0%, rgba(255,255,255,0) 30%);
}

#bottom {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background:  var(--background-color);
    background: linear-gradient(0deg,  var(--background-color) 0%, rgba(255,255,255,0) 30%);
}

#scene-container {
    z-index: 999;
    width: 100%;
    height: fit-content;
    overflow: scroll;
}

#scene {
    position: relative;
    resize: block;
}